<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        {% load staticfiles %}

        <!-- JQuery -->
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

        <!-- Jquery UI -->
        <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>

        <!-- VelocityJS -->
        <script src="{% static 'bower_components/velocity/velocity.min.js' %}"></script>
        <script src="{% static 'bower_components/velocity/velocity.ui.min.js' %}"></script>

        <!-- Boostrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}" />
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <!-- Bootstrap notify -->
        <script src="{% static 'bower_components/remarkable-bootstrap-notify/bootstrap-notify.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/animate.css/animate.min.css' %}" />

        <!-- Google font -->
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}" />

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'spacefinder/favicon-16x16.png' %}"/>

        <!-- Base stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'spacefinder/base.css' %}" />

        <!-- OkayNav Javascript -->
        <script src="{% static 'bower_components/okaynav/app/js/jquery.okayNav.js' %}"></script>

        <!-- OkayNav css -->
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/basic-styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/header.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/okayNav-base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/okayNav-theme.css' %}" />

        <!-- Non template specific imports go inside these blocks -->
        {% block head %} {% endblock %}

    </head>
    <body class="noselect" ondragstart="return false;" ondrop="return false;">
        <!-- Template content goes inside these blocks -->
        {% block content %}
        {% endblock %}
    </body>
</html>
