{% extends "spacefinder/base_generic.html" %}
{% load studyspace_extra %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'spacefinder/slider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'spacefinder/detail.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<script src="{% static 'spacefinder/emoji-slider.js' %}"></script>
<script src="{% static 'spacefinder/page-color.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">data = {{ ratings|safe }};</script>
<script src="{% static 'spacefinder/ratings-chart.js' %}"></script>
{% endblock %}
{% block content %}
<title>{{ studyspace.space_name }}</title>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="spaceName">{{ studyspace.space_name }}</h1>
        </div>
        <div class="col-md-6">
            <h3 id="currentStatus">Current Status:
                <b><span id="status">{{ studyspace.avg_rating | get_busyness_score }}</span></b>
            </h3>
            <h4>How Busy Is the Current Study Space?</h4>
        </div>
        <div class="col-md-6">
            <h3>Info:</h3>
            <div>Opening Time: {{ studyspace.opening_time }}</div>
            <div>Closing Time: {{ studyspace.closing_time }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form class="emoji-form-container" action="{% url 'spacefinder:vote' studyspace.id %}" method="post">
                {% csrf_token %}
                <input id="slider" type="range" min="1" max="5" name="choice" autofocus/>
                <div class="emoji" id="busy-emoji">
                    <img src="{% static "spacefinder/busy-emoji.png" %}" alt="My image"/>
                    <br>Busy
                </div>
                <div class="emoji" id="quite-busy-emoji">
                    <img src="{% static "spacefinder/quite-busy-emoji.png" %}" alt="My image"/>
                    <br>Quite-Busy
                </div>
                <div class="emoji" id="average-emoji">
                    <img src="{% static "spacefinder/average-emoji.png" %}" alt="My image"/>
                    <br>Average
                </div>
                <div class="emoji" id="quite-empty-emoji">
                    <img src="{% static "spacefinder/quite-empty-emoji.png" %}" alt="My image"/>
                    <br>Quite-Empty
                </div>
                <div class="emoji" id="empty-emoji">
                    <img src="{% static "spacefinder/empty-emoji.png" %}" alt="My image"/>
                    <br>Empty
                </div>
                <input type="submit" id="voteButton" class="btn button" value="Vote"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 2em;">
            {% if ratings %}
            <div id="curve_chart" style="width: 100%; height: 400px"></div>
            {% else %}
            <p>No ratings available</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
