{% extends "spacefinder/base_generic.html" %}
{% load convert-scores %}
{% load jsonify %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'spacefinder/highlight-row.js' %}"></script>
<script src="{% static 'spacefinder/popup-dialogs.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'spacefinder/index.css' %}" />
{% for message in messages %}
    <script type="text/javascript">
        var message = {content: {{message|jsonify|safe}}, type: {{message.tags|jsonify|safe}} };
    </script>
    <script src="{% static 'spacefinder/notify.js' %}"></script>
{% endfor %}
<script type="text/javascript">top_student_voters = {{ top_student_voters_list|safe }};</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'spacefinder/index-page-charts.js' %}"></script>
{% endblock %}
{% block content %}
<title>Space Finder</title>

<!-- Navbar -->
{% include "spacefinder/navbar.html" %}
 <div id="studyspace-table-container" class="container">
    <div class="row">

        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="rounded-box bg-white">
                <h1 class="gray-dark">Current StudySpace Availability</h1>
                <br>
                {% if study_space_list  %}
                <div id="studySpaceTable" class="table-responsive">
                    <div class="panel panel-default">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th id="department" class="col-sm-4">Study Space &nbsp;<i class="fa fa-pencil"></i></th>
                                    <th id="department" class="col-sm-4">Department &nbsp;<i class="fa fa-users"></i></th>
                                    <th id="department" class="col-sm-4">Average Score &nbsp;<i class="fa fa-area-chart"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for studyspace in study_space_list %}
                                <tr>
                                    <td><a href="{% url 'spacefinder:studyspace' studyspace.slug %}">{{ studyspace.space_name }}</a></td>
                                    <td>{{ studyspace.department }}</td>
                                    <td>{{ studyspace.avg_rating | get_busyness_score }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                <p>No study spaces available</p>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="rounded-box bg-white box-social-buttons">
                <strong class="gray-dark">Useful Links</strong>
                <ul class="list-social-buttons">
                    <li><a href="http://mail.bath.ac.uk"><i class="fa fa-paper-plane"></i>&nbsp;Mail</a></li>
                    <li><a href="http://moodle.bath.ac.uk/"><i class="fa fa-graduation-cap"></i>&nbsp;Moodle</a></li>
                    <li><a href="http://mytimetable.bath.ac.uk/"><i class="fa fa-calendar"></i>&nbsp;Timetable</a></li>
                </ul>
            </div>
            <div class="rounded-box bg-white box-top-student-voters">
                <strong class="gray-dark">Top Voters &nbsp; <i class="fa fa-bar-chart"></i></strong>
                <div style="margin-top: 1.2em;">
                    {% if top_student_voters %}
                    <ul class="list-top-student-voters">
                        {% for student in top_student_voters %}
                            {% if user.is_authenticated %}
                                {% ifequal user.username student.user.username %}
                                    <li style="color: #dd381d;">
                                        <i class="fa fa-star"></i> &nbsp;
                                        {{ student.user.username }} - {{ student.num_ratings }}
                                    </li>
                                {% endifequal %}
                            {% endif %}
                            <li>{{ student.user.username }} - {{ student.num_ratings }}</li>
                        {% endfor %}
                    </ul>
                    <div id="top-student-voters-chart"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
