{% load style-forms %}
<div id="loginModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-target="#registerModal" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Login Form</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        {% if login_form.errors %}
                            {% for error in login_form.non_field_errors %}
                            <b id="login-error-msg">{{ error }}</b>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            {{ login_form.username | placeholder:"Username" | addClass:"form-control" | addID:"LoginUsername"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            {{ login_form.password | placeholder:"Password" | addClass:"form-control" }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" name="login" class="btn button greenButton formSubmitButton">
                    <span>Login &nbsp; <i class="fa fa-sign-in"></i></span>
                </button>
                </div>
            </form>
        </div>
    </div>
</div>
