{% load staticfiles %}
{% block head %}
<!-- OkayNav css -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/basic-styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/header.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/okayNav-base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/okaynav/app/css/okayNav-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'spacefinder/navbar.css' %}" />
{% endblock %}
{% if not user.is_authenticated %}
    {% include "spacefinder/login-popup.html" %}
    {% include "spacefinder/register-popup.html" %}
{% endif %}
<header id="header" style="z-index: 200;">
    <h1 class="site-logo"><b>SpaceFinder</b></h1>
    <nav role="navigation" id="nav-main" class="okayNav">
        <ul>
            <li><a href="{% url 'spacefinder:index' %}"><i class="fa fa-graduation-cap"></i>&nbsp; Index </a></li>
            <li><a href="http://www.bath.ac.uk/timetable/roombookings.htm"><i class="fa fa-book"></i>&nbsp; Book a Room</a></li>
            <li><a href="http://www.bath.ac.uk/bucs/services/pacs/where.html"><i class="fa fa-laptop"></i>&nbsp; Find a PC</a></li>
            <li><a href="http://www.bath.ac.uk/about/pdfs/CampusMapKey.pdf"><i class="fa fa-map-marker"></i>&nbsp; Campus Map</a></li>
            <li><a href="https://www.youtube.com/watch?v=UqTvSBVbuGA"><i class="fa fa-info"></i> &nbsp;Info</a></li>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><img class="avatar" src="{% static "spacefinder/default_avatars/admin.png" %}"></li>
                {% else %}
                    <li><img class="department-icon" src="/media/{{ user.student.department.department_icon }}"></li>
                    <li><img class="avatar" src="/media/{{ user.student.avatar }}" ></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin &nbsp;</a></li>
                {% else %}
                    <li><a href="{% url 'spacefinder:profile' user.student.slug %}">{{ user.student }}</a></li>
                {% endif %}
            <li><a href="{% url 'spacefinder:user_logout' %}">Logout &nbsp; <i class="fa fa-sign-out"></i></a></li>
            {% else %}
                <li><a data-target="#loginModal" data-toggle="modal"><i class="fa fa-sign-in"></i>&nbsp; Login</a></li>
                <li><a data-target="#registerModal" data-toggle="modal"><i class="fa fa-user-plus"></i>&nbsp; Register </a></li>
            {% endif %}
        </ul>
    </nav>
</header>
