{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'spacefinder/navbar.css' %}" />
{% endblock %}
<nav class="flex-nav">
    <ul id="menu-items-container">
        <li><h1 id="mainTitle"><b>SpaceFinder</b></h1></li>
        <li><a class="active" href="{% url 'spacefinder:index' %}"><i class="fa fa-graduation-cap"></i>&nbsp; Index </a></li>
        <li><a href="http://www.bath.ac.uk/timetable/roombookings.htm"><i class="fa fa-book"></i>&nbsp; Book a Room</a></li>
        <li><a href="http://www.bath.ac.uk/bucs/services/pacs/where.html"><i class="fa fa-laptop"></i>&nbsp; Find a PC</a></li>
        <li><a href="http://www.bath.ac.uk/about/pdfs/CampusMapKey.pdf"><i class="fa fa-map-marker"></i>&nbsp; Campus Map</a></li>
        <li><a href="https://www.youtube.com/watch?v=UqTvSBVbuGA"><i class="fa fa-info"></i>&nbsp; Info</a></li>
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <li>
                    <div class="img-container">
                        <img class="avatar" src="{% static "spacefinder/default_avatars/admin.png" %}">
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="img-container">
                        <img class="avatar" src="/media/{{ user.student.department.department_icon }}">
                    </div>
                </li>
                <li>
                    <div class="img-container">
                        <img class="avatar" src="/media/{{ user.student.avatar }}" >
                    </div>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a id="profileButton" class="popoverButton">Admin &nbsp; <i class="fa fa-chevron-down"></i></a></li>
            {% else %}
                <li><a id="profileButton" class="popoverButton">{{ user.student }} &nbsp; <i class="fa fa-chevron-down"></i></a></li>
            {% endif %}
            {% include "spacefinder/user-profile-popup.html" %}
            <li><a href="{% url 'spacefinder:user_logout' %}">Logout &nbsp; <i class="fa fa-sign-out"></i></a></li>
        {% else %}
            <li><a id="loginButton" data-placement="bottom" class="popoverButton">Login &nbsp; <i class="fa fa-sign-in"></i></a></li>
            {% include "spacefinder/login-popup.html" %}
            <li><a href="#registerModal" data-toggle="modal">Register &nbsp; <i class="fa fa-user-plus"></i></a></li>
            {% include "spacefinder/register-popup.html" %}
        {% endif %}
    </ul>
</nav>
