{% extends "spacefinder/base_generic.html" %}
{% load convert-scores %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'spacefinder/profile.css' %}" />
{% endblock %}
{% block content %}
<title>{{ student.user.username }} Profile</title>
<!-- Navbar -->
{% include "spacefinder/navbar.html" %}
 <div id="app" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="rounded-box bg-white">
                <strong class="sidebarHeader gray-dark">Useful Links</strong>
                <ul class="list-social-buttons unstyled-list">
                    <li><a href="http://mail.bath.ac.uk"><i class="fa fa-paper-plane"></i>&nbsp;Mail</a></li>
                    <li><a href="http://moodle.bath.ac.uk/"><i class="fa fa-graduation-cap"></i>&nbsp;Moodle</a></li>
                    <li><a href="http://mytimetable.bath.ac.uk/"><i class="fa fa-calendar"></i>&nbsp;Timetable</a></li>
                </ul>
            </div>
            <div class="rounded-box bg-white">
                <strong class="sidebarHeader gray-dark">Your Profile &nbsp; <i class="fa fa-user"></i></strong>
                <div style="margin-top: 1.2em;">
                    <div class="user-avatar-container" style="padding-bottom: 2em;">

                        <img class="userAvatar img-rounded img-responsive" style="max-height: 400px; max-width: 350px; display: block; margin-left: auto; margin-right: auto;"src="/media/{{student.avatar}}">

                    </div>
                    <b><p><i class="fa fa-info" style="padding-left: 1em;"></i>&nbsp; Account Info</p></b>
                    <div style="padding-left: 2em;">
                        <p><i class="fa fa-user fa-fw"></i> &nbsp; Name: {{ student.user.username }}</p>
                        <p><i class="fa fa-graduation-cap fa-fw"></i> &nbsp; Department: {{ student.department }}</p>
                        <p><i class="fa fa-calendar fa-fw"></i> &nbsp; Joined: {{ student.user.date_joined }}</p>
                        <p><i style="color: #dd381d;" class="fa fa-diamond fa-fw"></i> &nbsp; Karma: {{ student.karma }}</p>
                    </div>
                    <hr>
                    <b><p><i class="fa fa-bar-chart" style="padding-left: 1em;"></i>&nbsp; Statistics</p></b>
                    <div style="padding-left: 2em;">
                        <p>Total Ratings: {{ student.rating_set.count }}</p>
                        {% if average_rating.rating__avg %}
                        <p>Average Rating: {{ average_rating.rating__avg | get_busyness_score }}</p>
                        {% endif %}
                        {% if studyspace_rating_breakdown %}
                        <b><p>Most Popular Spaces</p></b>
                        <ul>
                            {% for studyspace in studyspace_rating_breakdown %}
                            <li>{{ studyspace.studyspace__space_name }}: {{ studyspace.num_votes }} votes</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="rounded-box bg-white">
                <h1 class="gray-dark">Ratings Breakdown</h1>
                <br>
                <h3 class="gray-dark">Latest Ratings</h3>
                {% if ratings %}
                    <div id="latest-ratings-chart"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'spacefinder/popup-dialogs.js' %}"></script>
    <script type="text/javascript">latest_ratings = {{ latest_ratings|safe }};</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'spacefinder/profile-page-charts.js' %}"></script>

    <script type="text/javascript">
    var navigation = $('#nav-main').okayNav({
        swipe_enabled: true
    });
</script>
{% endblock %}
