{% load style-forms %}
<div id="registerModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-target="#registerModal" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Registration Form</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if user_form.username.errors %}
                            {% for error in user_form.username.errors %}
                                <p id="registration-error-msg">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            {{ user_form.username | placeholder:"Username" | addClass:"form-control" | addID:"RegisterUsername" }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if user_form.email.errors %}
                            {% for error in user_form.email.errors %}
                                <p id="registration-error-msg">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-send fa-fw"></i></span>
                            {{ user_form.email | placeholder:"Email" | addClass:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if user_form.password.errors %}
                            {% for error in user_form.password.errors %}
                                <p id="registration-error-msg">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                            {{ user_form.password | placeholder:"Password" | addClass:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if user_form.confirm_password.errors %}
                            {% for error in user_form.confirm_password.errors %}
                                <p id="registration-error-msg">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                            {{ user_form.confirm_password | placeholder:"Confirm Password" | addClass:"form-control" }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if student_form.department.errors %}
                            {% for error in student_form.department.errors %}
                                <p id="registration-error-msg">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
                            {{ student_form.department | addClass:"form-control" | addID:"LoginSelectDepartmentDropDown" }}
                        </div>
                    </div>
                    <div class="form-group">
                        {% if student_form.avatar.errors %}
                            {% for error in student_form.avatar.errors %}
                                <p id="registration-error-msg">{{ error|escape }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-folder-open fa-fw"></i></span>
                            {{ student_form.avatar }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" name="register" class="btn button greenButton formSubmitButton">
                    <span>Register &nbsp; <i class="fa fa-user-plus"></i></span>
                </button>
                </div>
            </form>
        </div>
    </div>
</div>
