{% load staticfiles %}
<div id="profilePopup" class="hide popover-content">
    {% if not user.is_superuser %}
        <!-- Load the profile picture and profile page button for normal users -->
        <div id="loginMessage">
            <img class="img-responsive img-rounded" id="userAvatar" src="/media/{{ user.student.avatar }}" alt="My image"/>
            <p>Logged in as:</p>
            <p><b>{{ user.username }}</b></p>
        </div>
        <a href="{% url 'spacefinder:profile' user.student.slug %}" style="text-decoration: none">
            <button id="userProfileButton" class="btn button yellowButton">
                <span><i class="fa fa-line-chart"></i> &nbsp; Profile</span>
            </button>
        </a>
    {% else %}
        <div id="loginMessage">
            <img class="img-responsive img-rounded" id="userAvatar" src="{% static "spacefinder/default_avatars/admin.png" %}" alt="My image"/>
            <p>Logged in as:</p>
            <b>Admin</b></p>
        </div>
        <a href="http://localhost:8000/admin" style="text-decoration: none">
            <button id="userProfileButton" class="btn button yellowButton">
                <span><i class="fa fa-line-chart"></i> &nbsp; Profile</span>
            </button>
        </a>
    {% endif %}
</div>

