/**
 * CSS File for the Index page
 */

th {
    color: #777777;
    background-color: #fbfbfb;
}

table {
    font-size: 14px;
}

.list-top-student-voters {
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

.list-top-student-voters li a {
    text-decoration: none;
}

.list-top-student-voters li a:hover {
    text-decoration: none;
    color: #337ab7;
}

#top-student-voters-chart {
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
            align-items: center;
            justify-content: center;
}

#login-error-msg {
    text-align: center;
}

#registration-error-msg, #login-error-msg {
    color: #dd381d;
}
