/**
 * CSS File for the Index page
 */

body {
    background-image: url("geometry.png");
}

th {
    background-color: #FBFBFB;
    color: #777777;
} 

#userAvatar {
    margin: auto;
    padding-bottom: 1em;
}

#registerSubmitButton {
    width: 10em;
    float: right;
}

#loginMessage {
    text-align: center;
    vertical-align: middle;
}

#loginSubmitButton, #userProfileButton {
    width: 10em;
    margin: 0.2em 0em 0.7em 0em;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#studySpaceTable {
    margin-top: 0.5em;
}
