/**
 * CSS File for the navigation bar
 */


header {
    font-size: 1.4rem;
    line-height: 1.42857143;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 7rem;
    padding: 0 15px;
    position: fixed;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    width: 100%
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.okayNav__menu-toggle span {
  background: #fff;
}

#header, .okayNav__nav--invisible {
    background: #1caff6;
    background-color: rgba(32,166,231,0.8);
    background-image: -moz-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#20a8e9), to(rgba(30,158,220,0.5)));
    background-image: -webkit-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
    background-image: -o-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
    background-image: linear-gradient(to bottom, #20a8e9, rgba(30,158,220,0.5));
    background-repeat: repeat-x;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    font: 500 15px/20px "museo-sans-rounded",sans-serif;
    z-index: 200;
}

.okayNav__nav--invisible a {
    background: #1caff6;
    background-color: rgba(32,166,231,0.8);
    font: 500 15px/20px "museo-sans-rounded",sans-serif;
    z-index: 200;
}

.site-logo {
    padding-left: 1em;
    color: white;
}

#header ul li a {
    padding: 8px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

#header ul li a:hover {
    border-radius: 200px;
    background: #1493d1;
}

.avatar {
    max-height: 55px;
    max-width: 55px;
    background-size: cover;
    background-position: center;
}

.department-icon {
    width: 40px;
}

.formSubmitButton {
    float: right;
    width: 10em;
}
