/**
 * CSS File for the navigation bar
 */

.navbar {
    background: #1caff6;
    height: auto;
    min-height: 70px;
    background-color: rgba(32,166,231,0.8);
    background-image: -moz-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#20a8e9), to(rgba(30,158,220,0.5)));
    background-image: -webkit-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
    background-image: -o-linear-gradient(top, #20a8e9, rgba(30,158,220,0.5));
    background-image: linear-gradient(to bottom, #20a8e9, rgba(30,158,220,0.5));
    background-repeat: repeat-x;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
    z-index: 200;
}

.active {
    border-radius: 200px;
    background: #1493d1;
}

#menu-items-container {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    display:-webkit-flex;
    padding-right: 2em;
    padding-left: 2em;
    align-items: baseline;
}

#menu-items-container::after {
    content: '';
    flex-grow: 1;
    order: 0;
}

.navbar-right {
    padding-left: 1em;
    order: 1;
}

#mainTitle {
    color: white;
    margin-right: 0.4em;
}

#department-icon {
    margin-left: 2em;
    max-height: 45px;
}

.nav-link > a {
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
}

.nav-link a:hover {
    border-radius: 200px;
    background: #1493d1;
}

@media all and (max-width:1000px) {
    .navbar #menu-items-container {
        flex-wrap: wrap;
    }

    .navbar div {
        margin-top: 0.9em;
        margin-bottom: 0.9em;
        flex: 1 1 50%;
    }
}

.avatar-container {
    width: 55px;
    height: 55px;
    overflow: hidden;
    text-align: center;
    border-radius: 200px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.avatar {
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}
.department-icon {
    width: 40px;
}
